<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<title>LiveOdds - FullTime</title>
		<meta name="description" content="" />
		<meta name="author" content="Tudor Anghelina" />
		<meta name="viewport" content="width=device-width; initial-scale=1.0" />
		<!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
		<!-- Optional theme -->
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
		<!-- Latest compiled and minified JavaScript -->
		<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	</head>

	<body style="background:url('bg.png') repeat">
		<div style="margin-top:50px">
			<div class="container">
				<div class="panel panel-default" style="margin:0 auto;width:500px">
					<div class="panel-heading">
						<h2 class="panel-title">Live Odds Results</h2>
					</div>
					<div class="panel-body">
						<form name="contactform" method="post" action="/submit" class="form-horizontal" role="form">
							<div class="form-group">
								<label for="inputName" class="col-lg-2 control-label">Nation</label>
								<div class="col-lg-10">
									<input type="text" class="form-control" id="inputMinute" value= {{ nation }} readonly="readonly">
								</div>
							</div>
							<div class="form-group">
								<label for="inputName" class="col-lg-2 control-label">Datk</label>
								<div class="col-lg-10">
									<input type="text" class="form-control" id="inputMinute" value= {{ Datk }} readonly="readonly">
								</div>
							</div>
							<div class="form-group">
								<label for="inputName" class="col-lg-2 control-label">GttpH</label>
								<div class="col-lg-10">
									<input type="text" class="form-control" id="inputMinute" value= {{ GttpH }} readonly="readonly">
								</div>
							</div>
							<div class="form-group">
								<label for="inputName" class="col-lg-2 control-label">GttfH</label>
								<div class="col-lg-10">
									<input type="text" class="form-control" id="inputMinute" value= {{ GttfH }} readonly="readonly">
								</div>
							</div>
							<div class="form-group">
								<label for="inputName" class="col-lg-2 control-label">GttpA</label>
								<div class="col-lg-10">
									<input type="text" class="form-control" id="inputMinute" value= {{ GttfH }} readonly="readonly">
								</div>
							</div>
							<div class="form-group">
								<label for="inputName" class="col-lg-2 control-label">GttfA</label>
								<div class="col-lg-10">
									<input type="text" class="form-control" id="inputMinute" value= {{ GttfA }} readonly="readonly">
								</div>
							</div>
							<div class="form-group">
								<label for="inputName" class="col-lg-2 control-label">GtatpH</label>
								<div class="col-lg-10">
									<input type="text" class="form-control" id="inputMinute" value= {{ GtatpH }} readonly="readonly">
								</div>
							</div>
							<div class="form-group">
								<label for="inputName" class="col-lg-2 control-label">GtapA</label>
								<div class="col-lg-10">
									<input type="text" class="form-control" id="inputMinute" value= {{ GtapA }} readonly="readonly">
								</div>
							</div>
						</form>

					</div>
				</div>
			</div>
		</div>
	</body>
</html>
