<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<title>LiveOdds - FullTime</title>
		<meta name="description" content="" />
		<meta name="author" content="Nick Hale" />
		<meta name="viewport" content="width=device-width; initial-scale=1.0" />
		<!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="static/css/bootstrap.min.css">
		<!-- Optional theme -->
		<link rel="stylesheet" href="static/css/bootstrap-theme.min.css">
		<!-- Latest compiled and minified JavaScript -->
		<script src="static/js/bootstrap.min.js"></script>
	</head>


	<body style="background:url('bg.png') repeat">
		<div style="margin-top:50px">
			<div class="container">
				<div class="panel panel-default" style="margin:0 ;width:1250px">
					<div class="panel-heading">
							<h2 class="panel-title">Live Odds Results</h2>
					</div>
					<div class="row">
					<div class="panel panel-default pull-right" style="margin:0 ;width:1000px">
							<div class="col-lg-12">
								<h4>Prediction</h4>
								<table style="width:100%">
								  <!-- table header -->
								  {% if result_pred %}
								  <tr>
								     {% for key in result_pred[0] %}
								     <th> {{ key }} </th>
								     {% endfor %}
								  </tr>
								  {% endif %}

								  <!-- table rows -->
								  {% for dict_item in result_pred %}
								  <tr>
								     {% for value in dict_item.values() %}
								     <td> {{ value }} </td>
								     {% endfor %}
								  </tr>
								  {% endfor %}
								</table>
								<h4>FullTime Results<h4>
								  <table style="width:100%">
								    <!-- table header -->
								    {% if results %}
								    <tr>
								       {% for key in results[0] %}
								       <th> {{ key }} </th>
								       {% endfor %}
								    </tr>
								    {% endif %}

								    <!-- table rows -->
								    {% for dict_item in results %}
								    <tr>
								       {% for value in dict_item.values() %}
								       <td> {{ value }} </td>
								       {% endfor %}
								    </tr>
								    {% endfor %}
								  </table>
							</div>
					</div>

					<div class="panel panel-default pull-left" style="margin:0 ;width:250px">
						<div class="form-group">
							<form name="contactform" method="post" action="/submit" class="form-vertical" role="form">


								<div class="form-group">
									<label class="sr-only" for="inlineFormInputGroup">Minute</label>
								   <div class="input-group mb-2 mr-sm-2 mb-sm-0">
								     <div class="input-group-addon">Min</div>
								     <input type="text" class="form-control" id="inlineFormInputGroup" name="inputMinute" placeholder="Minuto Dati">
										 <div class="input-group-addon">{{ val["Min"] }}</div>
								   </div>
								</div>
								<div class="form-group">
									<label class="sr-only" for="inlineFormInputGroup">CoNz</label>
									 <div class="input-group mb-2 mr-sm-2 mb-sm-0">
										 <div class="input-group-addon">CoNz</div>
										 <input type="text" class="form-control" id="inlineFormInputGroup" name="inputCoNz" placeholder="Coefficiente Nazione">
										 <div class="input-group-addon"></div>
									 </div>
								</div>
								<div class="form-group">
									<label class="sr-only" for="inlineFormInputGroup">Ptph</label>
									 <div class="input-group mb-2 mr-sm-2 mb-sm-0">
										 <div class="input-group-addon">Ptph</div>
										 <input type="text" class="form-control" id="inlineFormInputGroup" name="inputPtph" placeholder="Coeff (peso) Tiri porta home">
										 <div class="input-group-addon">{{ val["Ptph"] }}</div>
									 </div>
								</div>
								<div class="form-group">
									<label class="sr-only" for="inlineFormInputGroup">Ptfh</label>
									 <div class="input-group mb-2 mr-sm-2 mb-sm-0">
										 <div class="input-group-addon">Ptfh</div>
										 <input type="text" class="form-control" id="inlineFormInputGroup" name="inputPtfh" placeholder="Coeff (peso) Tiri fuori home">
										 <div class="input-group-addon">{{ val["Ptfh"] }}</div>
									 </div>
								</div>
								<div class="form-group">
									<label class="sr-only" for="inlineFormInputGroup">Ptfh</label>
									 <div class="input-group mb-2 mr-sm-2 mb-sm-0">
										 <div class="input-group-addon">Ptfh</div>
										 <input type="text" class="form-control" id="inlineFormInputGroup" name="inputPtfh" placeholder="Coeff (peso) Tiri fuori home">
										 <div class="input-group-addon">{{ val["Ptfh"] }}</div>
									 </div>
								</div>
								<div class="form-group">
									<label class="sr-only" for="inlineFormInputGroup">Ptpa</label>
									 <div class="input-group mb-2 mr-sm-2 mb-sm-0">
										 <div class="input-group-addon">Ptpa</div>
										 <input type="text" class="form-control" id="inlineFormInputGroup" name="inputPtpa" placeholder="Coeff (peso) Tiri in porta away">
										 <div class="input-group-addon">{{ val["Ptpa"] }}</div>
									 </div>
								</div>
								<div class="form-group">
									<label class="sr-only" for="inlineFormInputGroup">Ptfa</label>
									 <div class="input-group mb-2 mr-sm-2 mb-sm-0">
										 <div class="input-group-addon">Ptfa</div>
										 <input type="text" class="form-control" id="inlineFormInputGroup" name="inputPtfa" placeholder="Coeff (peso) Tiri in fuori away">
										 <div class="input-group-addon">{{ val["Ptfa"] }}</div>
									 </div>
								</div>
								<div class="form-group">
									<label class="sr-only" for="inlineFormInputGroup">PAtpH</label>
									 <div class="input-group mb-2 mr-sm-2 mb-sm-0">
										 <div class="input-group-addon">PAtpH</div>
										 <input type="text" class="form-control" id="inlineFormInputGroup" name="inputPAtpH" placeholder="Coeff (peso) Attacchi pericolosi Home">
										 <div class="input-group-addon">{{ val["PAtpH"] }}</div>
									 </div>
								</div>
								<div class="form-group">
									<label class="sr-only" for="inlineFormInputGroup">Patpa</label>
									 <div class="input-group mb-2 mr-sm-2 mb-sm-0">
										 <div class="input-group-addon">Patpa</div>
										 <input type="text" class="form-control" id="inlineFormInputGroup" name="inputPatpa" placeholder="Coeff (peso) Attacchi pericolosi Away">
										 <div class="input-group-addon">{{ val["Patpa"] }}</div>
									 </div>
								</div>
								<div class="form-group">
									<label class="sr-only" for="inlineFormInputGroup">CofMinH</label>
									 <div class="input-group mb-2 mr-sm-2 mb-sm-0">
										 <div class="input-group-addon">CofMinH</div>
										 <input type="text" class="form-control" id="inlineFormInputGroup" name="inputCofMinH" placeholder="Coefficiente minimo gol teorici home">
										 <div class="input-group-addon">{{ val["CofMinH"] }}</div>
									 </div>
								</div>
								<div class="form-group">
									<label class="sr-only" for="inlineFormInputGroup">CofMinA</label>
									 <div class="input-group mb-2 mr-sm-2 mb-sm-0">
										 <div class="input-group-addon">CofMinA</div>
										 <input type="text" class="form-control" id="inlineFormInputGroup" name="inputCofMinA" placeholder="Coefficiente minimo gol teorici away">
										 <div class="input-group-addon">{{ val["CofMinA"] }}</div>
									 </div>
								</div>
								<div class="form-group">
									<label class="sr-only" for="inlineFormInputGroup">CoefMinH</label>
									 <div class="input-group mb-2 mr-sm-2 mb-sm-0">
										 <div class="input-group-addon">CoefMinH</div>
										 <input type="text" class="form-control" id="inlineFormInputGroup" name="inputCoefMinH" placeholder="Coeff Minuti Partita Home">
										 <div class="input-group-addon">{{ val["CoefMinH"] }}</div>
									 </div>
								</div>
								<div class="form-group">
									<label class="sr-only" for="inlineFormInputGroup">CoefMinA</label>
									 <div class="input-group mb-2 mr-sm-2 mb-sm-0">
										 <div class="input-group-addon">CoefMinA</div>
										 <input type="text" class="form-control" id="inlineFormInputGroup" name="inputCoefMinA" placeholder="Coeff Minuti Partita Away">
										 <div class="input-group-addon">{{ val["CoefMinA"] }}</div>
									 </div>
								</div>
								<div class="form-group">
									<label class="sr-only" for="inlineFormInputGroup">CoefMaxSgt</label>
									 <div class="input-group mb-2 mr-sm-2 mb-sm-0">
										 <div class="input-group-addon">CoefMaxSgt</div>
										 <input type="text" class="form-control" id="inlineFormInputGroup" name="inputCoefMaxSgt">
										 <div class="input-group-addon">{{ val["CoefMaxSgt"] }}</div>
									 </div>
								</div>
								<div class="form-group">
									<label class="sr-only" for="inlineFormInputGroup">CoefMinSgt</label>
									 <div class="input-group mb-2 mr-sm-2 mb-sm-0">
										 <div class="input-group-addon">CoefMinSgt</div>
										 <input type="text" class="form-control" id="inlineFormInputGroup" name="inputCoefMinSgt">
										 <div class="input-group-addon">{{ val["CoefMinSgt"] }}</div>
									 </div>
								</div>
								<div class="form-group">
									<label class="sr-only" for="inlineFormInputGroup">ValueMax</label>
									 <div class="input-group mb-2 mr-sm-2 mb-sm-0">
										 <div class="input-group-addon">ValueMax</div>
										 <input type="text" class="form-control" id="inlineFormInputGroup" name="inputValueMax">
										 <div class="input-group-addon">{{ val["ValueMax"] }}</div>
									 </div>
								</div>
								<div class="form-group">
									<label class="sr-only" for="inlineFormInputGroup">ValueMin</label>
									 <div class="input-group mb-2 mr-sm-2 mb-sm-0">
										 <div class="input-group-addon">ValueMin</div>
										 <input type="text" class="form-control" id="inlineFormInputGroup" name="inputValueMin">
										 <div class="input-group-addon">{{ val["ValueMin"] }}</div>
									 </div>
								</div>
								</div>
								<div class="form-group">
									<div class="col-lg-8">
										<button type="submit" class="btn btn-default">
											Submit
										</button>
									</div>
								</div>
						</form>
					</div>
				</div>
				</div>
			</div>
			</div>
			</div>
		</div>
		</div>

	</body>
</html>
