<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="refresh" content="60">
  </head>
  <body>
<table style="width:100%">
  <!-- table header -->
  {% if result_pred %}
  <tr>
     {% for key in result_pred[0] %}
     <th> {{ key }} </th>
     {% endfor %}
  </tr>
  {% endif %}

  <!-- table rows -->
  {% for dict_item in result_pred %}
  <tr>
     {% for value in dict_item.values() %}
     <td> {{ value }} </td>
     {% endfor %}
  </tr>
  {% endfor %}
</table>
<h4>FullTime Results<h4>
  <table style="width:100%">
    <!-- table header -->
    {% if results %}
    <tr>
       {% for key in results[0] %}
       <th> {{ key }} </th>
       {% endfor %}
    </tr>
    {% endif %}

    <!-- table rows -->
    {% for dict_item in results %}
    <tr>
       {% for value in dict_item.values() %}
       <td> {{ value }} </td>
       {% endfor %}
    </tr>
    {% endfor %}
  </table>
</body>
</html>
